
body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}
.todo-details {
    display:flex;
    flex-direction:column;

    header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em;
    }

    .item {
        flex:1;
        padding: 1em;
    }

}

.todo {
  h4{
    font-size: 25px;
    display: inline-block;
    border-bottom: 1px solid darkblue;
    margin-bottom: 15px;
    margin-right: 6px;
  }

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em;

    form {

        display:flex;
        flex-direction:column;
        margin-right: 2em;
        border: 2px double rgba(219, 200, 200, 0.6);
border-radius: 4px;
        padding: 3px;
        h3{
margin-left: 130px;
            display: inline-block;
            border-bottom: 1px solid darkblue;
        }
input {
  width: 350px;
}
        label {

            display: flex;
            flex-direction:column;
            margin-bottom: 1em;
        }
    }

    ul {
        list-style-type:none;
        margin:0;
        padding:0;

        li {

            align-items: center;
            display:flex;
            flex-direction:row;
            font-size: .75em;
            margin: .75em .5em;

          //  &.complete-true {
          //    .jumbotron {
          //      background: pink;
          //      text-decoration:line-through;
          //      &:hover {
          //         banckground: seagreen;
          //        color :white;
          //      }
          //    }
          //  }
          //
          //.jumbotron {
          //      background: #e0e0e0;
          //      &:hover {
          //          background: pink;
          //      }
          //  }
          //.jumbotron {
          //       border: .5px solid #eee;
          //       display:inline-block;
          //     cursor: pointer;
          //       padding: .2em .25em;
          //       width: 400px;
          //   }
            input{
                margin-top:2px ;
            }

            button {
                cursor:pointer;
                padding:  2px 5px 2px 2px;
                //padding-right: 3px;
                //margin:  .2em;
            }

        }
    }
    //.complete-true{
    //    display: none;
    //}

    .edit{
        display: none;
    }

  .jumbotron{

    padding:10px 30px 25px 20px;
button {
  margin-top: 5px;
}

  }

  #complete{
    cursor: pointer;
    display: inline-block;
    color:white;
    background: #f53131;
    margin-right: 10px;
    border: 1px solid red;
    padding: 3px;

    border-radius: 5px;
  }
  #pending{
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #8bd714;
    border-radius: 5px;
padding: 3px;
    display: inline-block;
background:#8bd714 ;
    color: white;
  }
  #ass{
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
  }
#text{
  cursor: pointer;
  font-size: 20px; display: inline-block;
}
  #dif{
    cursor: pointer;
    display: inline-block;
    margin-left: 90px;

  }
}
